:root {
  --primary-navy-blue-color: #2e2f42;
  --primary-white-color: #ffffff;
  --primary-slate-color: #434455;
  --primary-cloud-color: #f4f4fd;
  --primary-iris-color: #4d5ae5;
  --primary-ocean-color: #404bbf;
  --primary-font-style: normal;
  --primary-font-weight: 500;
  --secondary-font-weight: 400;
  --primary-font-size: 16px;
  --secondary-font-size: 20px;
  --primary-line-height: 1.5;
  --secondary-line-height: 1.2;
  --primary-letter-spacing: 0.02em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--primary-white-color);
  color: var(--primary-slate-color);
}

.container-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  min-width: 1158px;
}

.page-header {
  background: var(--primary-white-color);
  border-bottom: 1px solid #e7e9fc;
  width: 1440px;
  height: 72px;
  padding: 24px 156px;
}

.page-header .container {
  display: flex;
  justify-content: space-evenly;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: var(--primary-font-style);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-iris-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-accent {
  color: var(--primary-navy-blue-color);
}

.link {
  text-decoration: none;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: var(--primary-font-style);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-iris-color);
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-accent-footer {
  color: var(--primary-cloud-color);
}

.list {
  list-style: none;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}

.nav-link {
  font-style: var(--primary-font-style);
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-navy-blue-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--primary-ocean-color);
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}

.contacts-link {
  font-weight: var(--secondary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-slate-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--primary-ocean-color);
}

main {
  flex-grow: 1;
}

.hero-content {
  padding: 188px 472px;
}

.hero-image {
  background: var(--primary-navy-blue-color);
}

.title {
  font-style: var(--primary-font-style);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-white-color);
  margin-bottom: 48px;
}

.button-hero {
  font-family: "Roboto", sans-serif;
  font-style: var(--primary-font-style);
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  background-color: var(--primary-iris-color);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  margin: auto;
  gap: 10px;
}

.button-hero:hover,
.button-hero:focus {
  background: var(--primary-ocean-color);
}

.title-section {
  font-style: var(--primary-font-style);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);
  text-transform: capitalize;
  color: var(--primary-navy-blue-color);
  margin-bottom: 72px;
}

.condition-list {
  padding: 120px 156px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.item-condition {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.title-condition {
  font-style: var(--primary-font-style);
  font-weight: var(--primary-font-weight);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-navy-blue-color);
}

.text-condition {
  font-style: var(--primary-font-style);
  font-weight: var(--secondary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-slate-color);
}

.work-list {
  padding: 0 156px 120px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.team {
  background-color: var(--primary-cloud-color);
  padding: 120px 156px;
}

.team-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.member {
  background-color: var(--primary-white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;
}

.name-surname {
  font-style: var(--primary-font-style);
  font-weight: var(--primary-font-weight);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-navy-blue-color);
}

.specialty {
  font-style: var(--primary-font-style);
  font-weight: var(--secondary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  text-align: center;
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-slate-color);
}

.footer-section {
  background: var(--primary-navy-blue-color);
}

.footer-content {
  padding: 100px 1020px 100px 156px;
}

.footer-text {
  font-style: var(--primary-font-style);
  font-weight: var(--secondary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-cloud-color);
}

.buttons-list {
  padding: 96px 427px 72px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}

.buttons-filters {
  font-family: "Roboto", sans-serif;
  font-style: var(--primary-font-style);
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: 0.04em;
  color: var(--primary-iris-color);
  background-color: var(--primary-cloud-color);
  cursor: pointer;
}

.buttons-filters:hover,
.buttons-filters:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-ocean-color);
}

.project-list {
  padding: 0 156px 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.project-item {
  border: 1px solid #e7e9fc;
}

.project-photo {
  margin-bottom: 32px;
}

.project-title {
  font-style: var(--primary-font-style);
  font-weight: var(--primary-font-weight);
  font-size: var(--secondary-font-size);
  line-height: var(--secondary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-navy-blue-color);
  margin-bottom: 8px;
  margin-left: 16px;
}

.project-specialty {
  font-style: var(--primary-font-style);
  font-weight: var(--secondary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: var(--primary-slate-color);
  margin-bottom: 32px;
  margin-left: 16px;
}
